<!-- NAV -->
<nav class="navbar">
	<div>
		<span class="fa fa-bars"></span>
	</div>
	<ul>
		<li class="title">
			<a class="scrolly" href="#map">acmp</a>
		</li>
		<li class="button" id="captorNav" style="display: none;">
			<a class="scrolly" href="#admin-edit">
				<span class="ico fa fa-edit"></span>admin
				<span class="row fa fa-sort-desc"></span>
			</a>
			<ul>
				<li>
					<a class="scrolly" href="#captors"><span class="ico fa fa-server"></span>capteurs</a>
				</li>
				<li>
					<a class="scrolly" target="_blank" href="/pma"><span class="ico fa fa-database"></span>PhpMyAdmin</a>
				</li>
				<li>
					<a class="scrolly" target="_blank" href="/node-red"><span class="ico fa fa-server"></span>node red</a>
				</li>
				<li>
					<a class="scrolly" target="_blank" href="/ui"><span class="ico fa fa-server"></span>node red UI</a>
				</li>
			</ul>
		</li>
		<li class="button">
			<a class="scrolly" href="#telemetry">
				<span class="ico fa fa-bar-chart"></span>télémétrie
				<span class="row fa fa-sort-desc"></span>
			</a>
			<ul>
				<li>
					<a class="scrolly" href="#map"><span class="ico fa fa-map"></span>map</a>
				</li>
				<li>
					<a class="scrolly" href="#instant"><span class="ico fa fa-clock-o"></span>temps réel</a>
				</li>
				<li>
					<a class="scrolly" href="#story"><span class="ico fa fa-list"></span>historique</a>
				</li>
			</ul>
		</li>
		<li class="button">
			<a class="scrolly" href="#about">
				<span class="ico fa fa-info-circle"></span>à propos
				<span class="row fa fa-sort-desc"></span>
			</a>
			<ul>
				<li>
					<a class="scrolly" target="_blank" href="/github"><span class="ico fa fa-github"></span>GitHub</a>
				</li>
			</ul>
		</li>
		<li class="button">
			<i id="signOut" style="display: none;"><span class="ico fa fa-sign-out"></span>déconnexion</i>
			<i id="signIn"><span class="ico fa fa-sign-in"></span>connexion</i>
		</li>
	</ul>
</nav>
