<!-- STORY -->
<aside id="story">
	<!-- balise pour l'affichage du graph -->
	<div id="carbon-chart" style="width: 100%; height: 400px;"></div>
	<div id="ozone-chart" style="width: 100%; height: 400px;"></div>
	<div id="particules-chart" style="width: 100%; height: 400px;"></div>
	<script type="text/javascript">
		var captors = xhr.getLastValues();
		var listeChart = [];
		var charts = [];

		captors.forEach((item) => {
			let type = null;
			switch(item.name) {
				case 'CO2': type = 'carbon'; break;
				case 'Ozone': type = 'ozone'; break;
				case 'Particules Fines': type = 'particules'; break;
			}

			listeChart.push({
				id: item.id,
				data: xhr.getDataByOnceCaptor(item.id),
				render: type
			});
		});

		for(let i = 0; i < listeChart.length; i++)
			charts[i] = new Highcharts.Chart({ // Créer un object HighChart en JS
				chart: {
					renderTo: `${listeChart[i].render}-chart`, // Sélectionner la balise html pour l'afficher
					type: 'spline',
					backgroundColor: null
				},

				title: {
					text: listeChart[i].data.name,
					style:{
						color: '#4572A7'
					}
				},

				legend: { // La légende
					enabled: true,
					backgroundColor: 'white',
					borderRadius: 14
				},

				xAxis: {
					type: 'datetime',
					dateTimeLabelFormats: {
						month: '%e. %b', // Formatage sur le mois
						year: '%b' // Formatage sur l'année
					}
				},

				yAxis: [{
					labels: {
						format: `{value} ${listeChart[i].data.unit}`,
						style: {
							color: '#C03000'
						}
					},
				}],

				tooltip: {
					shared: true,
					crosshairs: true,
					borderRadius: 6,
					borderWidth: 3,
					xDateFormat: '%A %e %b  %H:%M:%S',
					valueSuffix: listeChart[i].data.unit
				},

				plotOptions: {
					spline: {
						marker: {
							enabled: false
						}
					}
				},

				series: [
					{
						name: listeChart[i].id,
						color: listeChart[i].data.color,
						zIndex: 1,
						data: listeChart[i].data.data // c'est ici qu'on insert les data
					}
				]
			});
	</script>
</aside>
