<!-- CAPTORS -->
<aside id="captors">
	<div class="container">
		<table id="captor-list">
			<tr>
				<th>DevEUI</th>
				<th>enregistré le</th>
				<th>actions</th>
			</tr>
		</table>
		<button>
			<span class="fa fa-plus"></span>
		</button>
	<div>
</aside>
<script language="javascript" type="text/javascript">
	var captorsList = xhr.getCaptors();

	captorsList.forEach((item) => {
		let cell = [
			`<tr id="captor-${item.idCaptor}">`,
				`<td>${item.id}</td>`,
				`<td>${new Date(item.registerTime).toLocaleString()}</td>`,
				'<td>',
					'<button><span class="fa fa-edit"></span></button>',
					'<button><span class="fa fa-trash"></span></button>',
				'</td>',
			'</tr>'
		];

		$('#captor-list').append(cell.join(''));
	});
</script>
