<!-- LOGIN -->
<aside id="login" hidden>
	<form>
		<div class="close">
			<svg version="1.1" viewBox="0 0 12 12">
				<path d="m8.12 6 3.66-3.66c.29-.29.29-.76 0-1.05l-1.06-1.06c-.29-.29-.76-.29-1.05 0l-3.66 3.66-3.66-3.66c-.29-.29-.76-.29-1.05 0l-1.06 1.06c-.29.29-.3.76 0 1.05l3.66 3.66-3.66 3.66c-.29.29-.29.76 0 1.05l1.06 1.06c.29.29.76.29 1.05 0l3.66-3.66 3.66 3.66c.29.29.76.29 1.05 0l1.06-1.06c.29-.29.3-.76 0-1.05z"></path>
			</svg>
		</div>
		<h2>connexion</h2>
		<div class="input-area">
			<input type="text" name="uname" id="uname" required />
			<label for="uname">nom d'utilisateur</label>
			<span class="fa fa-user"></span>
		</div>
		<div class="input-area">
			<input type="password" name="upass" id="upass" required />
			<label for="upass">mot de passe</label>
			<span class="fa fa-key"></span>
		</div>
		<input type="submit" value="connexion" />
		<p class="auth-return"></p>
		<a href="/#forgot">mot de passe oublié ?</a>
	</form>
</aside>
