/**
 * Auteur   : CARDINAL Florian
 * Date     : 02/05/2020 14:01
 * Page     : main.css
 * Location : /styles/
 */

:root {
	--contrast-color: rgb(235, 235, 235);
	--submit-color: rgb(0, 170, 170);
	--submit-color-hover: rgb(0, 190, 190);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Lato", sans-serif;
	height: 100%;
	width: 100%;
}

/**
 * Nav Bar
 */
nav {
	background: rgb(50, 50, 50);
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	color: var(--contrast-color);
	font-size: 1.125em;
	padding-left: 6.75em;
	position: fixed;
	width: 100%;
	z-index: 5;
}

nav div {
	cursor: pointer;
	display: none;
	padding: 15px;
}

nav ul {
	background: rgb(50, 50, 50);
	list-style-type: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	text-transform: capitalize;
	transition: all .3s;
}
nav ul .title {
	font-family: "ROCKET";
	font-size: 1.1em;
	font-weight: bold;
	left: 1em;
	position: fixed;
	text-transform: uppercase;
}
nav ul .button:last-child {
	position: fixed;
	right: 0;
}
nav ul li::after {
	background: currentColor;
	content: '';
	display: block;
	height: 2px;
	margin: auto;
	position: relative;
	transition: width .2s;
	width: 0;
}
nav ul li:hover { background: rgba(255, 255, 255, .1); }
nav ul li:hover:after { box-shadow: 0 2px 10px currentColor; width: 100%; }

nav ul li a, nav ul li i {
	color: currentColor;
	cursor: pointer;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-style: normal;
}

nav ul ul {
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	display: none;
	min-width: 200px;
	position: absolute;
}

nav ul ul li { display: block; }
nav ul ul li::after { display: none; }
nav ul li:hover ul { display: block; }

nav ul li .ico {
	padding-right: 10px;
}
nav ul li .row {
	padding-left: 15px;
	float: right;
}

/**
 * Login Frame
 */
#login {
	background: rgb(255, 255, 255);
	border-radius: 15px 0;
	box-sizing: border-box;
	box-shadow: 0 0 15px rgba(0, 0, 0, .25);
	left: 50%;
	padding: 2em 1.25em 1.25em 1.25em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

/**
* Splash Screen Style
*/
#splash {
	background: rgb(220, 220, 220);
	display: block;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#splash > h1 {
	animation: 3s linear 1s infinite alternate splash;
	color: rgb(50, 50, 50);
	font-family: "ROCKET";
	font-size: 7.5em;
	left: 50%;
	letter-spacing: .1em;
	position: absolute;
	text-shadow: 0 0 20px currentColor,
		0 0 40px currentColor,
		0 0 60px currentColor;
	top: 50%;
	transform: translate(-50%, -50%);
}

/**
 * Section Area
 */
section {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

section aside {
	padding-top: 3.5em;
}

/**
 * Global Menu
 */
.global-menu {
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	width: 100%;
}

.global-menu .item {
	background: var(--submit-color);
	border-radius: 15px;
	box-sizing: border-box;
	color: var(--contrast-color);
	display: inline-block;
	margin: .5em 2.25em;
	padding: 1.25em;
	text-decoration: none;
	transition: .2s all;
	width: 10em;
}
.global-menu .item:hover {
	background: var(--submit-color-hover);
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	margin: .5em 1.75em;
	padding: 1.75em 0;
	width: 11em;
}
.global-menu .item:hover span {
	color: rgb(250, 250, 250);
}

.global-menu .item span {
	display: block;
	text-transform: capitalize;
}
.global-menu .item .ico {
	font-size: 5em;
	padding-bottom: .15em;
}
.global-menu .item .label {
	font-size: 1.5em;
}

/**
 * Here Map
 */
#map {
	background: rgb(150, 150, 150);
	height: 100%;
	width: 100%;
}

#map .H_tib_content_captor {
	width: 20em;
}

#map .H_tib_content_captor *::first-letter,
#map .H_tib_content_captor .H_tib_left {
	text-transform: capitalize !important;
}

#map .H_tib_content_captor .H_tib_desc {
	padding: 0px 16px 20px 16px;
}

#map .H_tib_content_captor .H_tib_desc .button {
	background: var(--submit-color);
	border-radius: 6px;
	color: var(--contrast-color);
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	margin-top: .5em;
	padding: .5em;
	text-align: center;
	text-decoration: none;
	transition: background .2s;
}
#map .H_tib_content_captor .H_tib_desc .button:hover {
	background: var(--submit-color-hover);
	color: rgb(250, 250, 250);
}

/**
 * Gauge
 */
#instant .highcharts-figure .chart-container {
	width: 300px;
	height: 200px;
	float: left;
}

#instant .highcharts-figure, .highcharts-data-table table {
	width: 600px;
	margin: 0 auto;
}

#instant .highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

#instant .highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}

#instant .highcharts-data-table th {
font-weight: 600;
	padding: 0.5em;
}

#instant .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
	padding: 0.5em;
}

#instant .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}

#instant .highcharts-data-table tr:hover {
	background: #f1f7ff;
}

/**
* Form Style
*/
form {
	display: block;
}

form > .close {
	cursor: pointer;
	fill: rgb(50, 50, 50);
	height: 1.75em;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s all;
	width: 1.75em;
}

form > .close:hover {
	fill: rgb(250, 50, 50);
	transform: rotateZ(90deg);
}

form > h2 {
	border-bottom: 2px solid currentColor;
	color: rgb(50, 50, 50);
	display: inline-block;
	margin: 0 0 1.5em 0;
	padding: 0 0 .5em 0;
	text-transform: capitalize;
}

form > .input-area {
	display: block;
	position: relative;
}

form > .input-area > label {
	color: rgb(50, 50, 50);
	margin-left: 2.25em;
	position: absolute;
	top: .5em;
	transition: .25s all;
	z-index: -1;
}

form > .input-area > label::first-letter {
	text-transform: uppercase;
}

form > .input-area > input {
	background: transparent;
	border: none;
	border-bottom: 2px solid currentColor;
	box-shadow: none;
	color: rgb(50, 50, 50);
	display: block;
	font-size: 1em;
	margin: .25em 0 1.5em 0;
	outline: none;
	padding: .5em .25em .5em 2.25em;
	transition: .2s all;
	width: 12em;
}

form > .input-area > input:valid {
	border-color: rgb(0, 250, 100);
}

form > .input-area > input:focus {
	border-color: rgb(0, 150, 250);
}

form > .input-area > input:focus ~ label,
form > .input-area > input:valid ~ label {
	font-size: .75em;
	margin-left: 0;
	top: -1em;
}

form > .input-area > span {
	color: rgb(50, 50, 50);
	font-size: 1.5em;
	left: .25em;
	position: absolute;
	text-align: center;
	top: .25em;
	width: 1em;
}

form > input[type="submit"] {
	background: rgba(0, 250, 100, 1);
	border: none;
	border-radius: .25em;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-size: 1.25em;
	margin: 1.5em 0 0 0;
	padding: .5em;
	text-transform: capitalize;
	transition: .1s all;
	width: 100%;
}
form > input[type="submit"]:hover {
	background: rgba(0, 250, 100, .75);
}

form > a {
	color: rgb(0, 100, 250);
	display: block;
	margin-top: 1em;
}
form > a::first-letter {
	text-transform: capitalize;
}

/**
 * Footer
 */
footer {
	background: rgb(50, 50, 50);
	display: block;
	text-align: center;
}

footer > a {
	color: rgb(0, 170, 170);
	display: block;
	font-size: 2em;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .2s all;
}
footer > a:hover {
	font-size: 2.5em;
	text-shadow: 0 0 15px currentColor;
}

footer > p {
	color: rgb(235, 235, 235, .5);
	padding: 3.25em 1em 1.25em 1em;
}

footer > p > a {
	color: currentColor;
	text-decoration: none;
}

/**
 * END
 */
