/**
 * Auteur   : CARDINAL Florian
 * Date     : 02/05/2020 14:01
 * Page     : main.css
 * Location : /styles/
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Lato", sans-serif;
	height: 100%;
	width: 100%;
}

/**
 * Nav Bar
 */
nav {
	background: rgb(50, 50, 50);
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	color: rgb(235, 235, 235);
	font-size: 1.125em;
	padding-left: 8em;
	position: fixed;
	width: 100%;
	z-index: 1;
}

nav div {
	cursor: pointer;
	display: none;
	padding: 15px;
}

nav ul {
	background: rgb(50, 50, 50);
	list-style-type: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	text-transform: capitalize;
	transition: all .3s;
}
nav ul .title {
	font-family: "ROCKET";
	font-size: 1.1em;
	font-weight: bold;
	left: 1em;
	position: fixed;
	text-transform: uppercase;
}
nav ul .button:last-child {
	position: fixed;
	right: 0;
}
nav ul li::after {
	background: currentColor;
	content: '';
	display: block;
	height: 2px;
	margin: auto;
	position: relative;
	transition: width .2s;
	width: 0;
}
nav ul li:hover { background: rgba(255, 255, 255, .1); }
nav ul li:hover:after { box-shadow: 0 2px 10px currentColor; width: 100%; }

nav ul li a {
	color: currentColor;
	display: block;
	padding: 15px;
	text-decoration: none;
}

nav ul ul {
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	display: none;
	min-width: 200px;
	position: absolute;
}

nav ul ul li { display: block; }
nav ul ul li::after { display: none; }
nav ul li:hover ul { display: block; }

nav ul li .ico {
	padding-right: 10px;
}
nav ul li .row {
	padding-left: 15px;
	float: right;
}

/**
* Splash Screen Style
*/
#splash {
	background: rgb(220, 220, 220);
	display: block;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#splash h1 {
	animation: 3s linear 1s infinite alternate splash;
	color: rgb(50, 50, 50);
	font-family: "ROCKET";
	font-size: 7.5em;
	left: 50%;
	letter-spacing: .1em;
	position: absolute;
	text-shadow: 0 0 20px currentColor,
		0 0 40px currentColor,
		0 0 60px currentColor;
	top: 50%;
	transform: translate(-50%, -50%);
}

/**
 * Section Area
 */
section {
	bottom: 0;
	position: absolute;
	width: 100%;
	top: 0;
}

section aside {
	padding-top: 3.5em;
}

/**
 * Here Map
 */
#map {
	background: rgb(150, 150, 150);
	height: 100%;
	width: 100%;
}

/**
* Form Style
*/
form {
	display: block;
}

form .input-area {
	display: block;
	position: relative;
}

form .input-area label {
	color: rgb(50, 50, 50);
	margin-left: 1.75em;
	position: absolute;
	top: .5em;
	transition: .25s all;
	z-index: -1;
}

form .input-area label::first-letter {
	text-transform: uppercase;
}

form .input-area input {
	background: transparent;
	border: none;
	border-bottom: 2px solid currentColor;
	box-shadow: none;
	color: rgb(50, 50, 50);
	display: block;
	font-size: 1em;
	margin: .25em 0 1.5em 0;
	outline: none;
	padding: .5em .25em .5em 1.75em;
	transition: .2s all;
}

form .input-area input:valid {
	border-color: rgb(0, 250, 100);
}

form .input-area input:focus {
	border-color: rgb(0, 150, 250);
}

form .input-area input:focus ~ label,
form .input-area input:valid ~ label {
	font-size: .75em;
	margin-left: 0;
	top: -1em;
}

form input[type="submit"] {
	background: rgb(0, 250, 100);
	border: 1px solid rgb(0, 250, 100);
	border-radius: .25em;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-size: 1.25em;
	margin: 1.5em 0 0 0;
	padding: .5em;
	text-transform: capitalize;
	transition: .2s all;
	width: 100%;
}

form input[type="submit"]:hover {
	background: transparent;
	color: rgb(0, 250, 100);
}
