/**
 * Auteur   : CARDINAL Florian
 * Date     : 02/05/2020 14:01
 * Page     : responsive.css
 * Location : /styles/
 */

@media(max-width: 720px) {
	/**
	 * Nav Bar Responsive
	 */
	nav {
		overflow: auto;
		max-height: 100%;
		padding-left: 0;
		position: fixed;
	}

	nav div { display: block; }

	nav ul {
		display: none;
		position: relative;
	}

	nav ul li {
		display: block;
		overflow: auto;
	}

	nav ul .title {
		left: inherit;
		right: 0;
		top: 0;
	}

	nav ul .button:last-child {
		border-top: 1px solid rgba(255, 255, 255, .2);
		margin-top: 5px;
		position: inherit;
		right: inherit;
	}

	nav ul ul {
		background: rgb(45, 45, 45);
		box-shadow: none;
		position: relative;
	}

	/**
	 * Global Menu
	 */
	.global-menu {
		top: 4em;
		transform: inherit;
	}

	.global-menu .item {
		display: block;
		width: auto;
	}
	.global-menu .item:hover {
		width: auto;
	}
}

@media (max-width: 600px) {
	#instant .highcharts-figure, .highcharts-data-table table {
		width: 100%;
	}
	#instant .highcharts-figure .chart-container {
		width: 300px;
		float: none;
		margin: 0 auto;
	}
}

/**
 * END
 */
